 
.title{
    color:white;
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
}
.rhe body {
    background: #008394 url('img/texture.png');
    font-family: Optima, sans-serif;
    color: #555;
}
.rhe a{
     text-decoration: none;
    color:inherit;
}
.rhe a:hover{
    color : #e0c82a;
}
.rhe .nav-link{
 
    font-size: 20px;
}

.rhe .nav-link.active{
      color: #e0c82a;
}

.rhe hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .02), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, .02));
}
.rhe hr.black{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .02), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .02));
}


@media screen and (max-width: 576px)
{
    .rhe .nav-tabs .nav-link:focus,.rhe .nav-tabs .nav-link:hover,
    .rhe .nav-tabs .nav-item.show .nav-link,.rhe .nav-tabs .nav-link.active
    {
        border-color: transparent;
    }
    .rhe .nav-tabs .nav-item
    {
        width: 100%;
    }
}
